{
    "extends": ["airbnb", "prettier"],
    "parser": "babel-eslint",
    "plugins": ["prettier"],
    "env": {
        "browser": true,
        "node": true,
        "jest": true,
    },
    "rules": {
        "indent": ["error", 4, {
            SwitchCase: 1,
            VariableDeclarator: 1,
            outerIIFEBody: 1,
            FunctionDeclaration: {
                parameters: 1,
                body: 1
            },
            FunctionExpression: {
                parameters: 1,
                body: 1
            },
            CallExpression: {
                arguments: 1
            },
            ArrayExpression: 1,
            ObjectExpression: 1,
            ImportDeclaration: 1,
            flatTernaryExpressions: false,
            ignoredNodes: ['JSXElement', 'JSXElement *']
        }],

        "prefer-const": "warn",
        "arrow-parens": ["error", "as-needed"],
        "no-return-assign": 0,
        "comma-dangle": ["error", {
            "arrays": "always-multiline",
            "objects": "always-multiline",
            "imports": "always-multiline",
            "exports": "always-multiline",
            "functions": "ignore"
        }],

        "prettier/prettier": [
            "error",
            {
                "singleQuote": true,
                "tabWidth": 4,
                "trailingComma": "es5"
            }
        ],

        "react/jsx-indent-props": [2, 4],
        "react/jsx-filename-extension": 0,
        "react/jsx-indent": [2, 4],
        "react/no-array-index-key": 0,

        "jsx-a11y/media-has-caption": 0
    }
}
